.git
.DS_Store
*.log
server/logs/
backups/

.env
.env.local
**/.env
**/.env.local
**/.env.server
!**/.env.example

node_modules
**/node_modules

dist
**/dist
admin-dist
**/admin-dist
dist-electron
dist-database
release
