:root {
  --vp-c-brand-1: #181818;
  --vp-c-brand-2: #2c2c2c;
  --vp-c-brand-3: #3a3a3a;
  --vp-c-brand-soft: rgba(24, 24, 24, 0.1);

  --vp-button-brand-bg: #181818;
  --vp-button-brand-text: #ffffff;
  --vp-button-brand-hover-bg: #2c2c2c;
  --vp-button-brand-hover-text: #ffffff;
  --vp-button-brand-active-bg: #3a3a3a;
  --vp-button-brand-active-text: #ffffff;

  --vp-home-hero-image-background-image: none;
  --vp-home-hero-image-filter: none;
}

.VPHero .tagline {
  white-space: pre-line;
}

.dark {
  --vp-c-brand-1: #f5f5f5;
  --vp-c-brand-2: #e0e0e0;
  --vp-c-brand-3: #cccccc;
  --vp-c-brand-soft: rgba(245, 245, 245, 0.1);

  --vp-button-brand-bg: #f5f5f5;
  --vp-button-brand-text: #181818;
  --vp-button-brand-hover-bg: #e0e0e0;
  --vp-button-brand-hover-text: #181818;
  --vp-button-brand-active-bg: #cccccc;
  --vp-button-brand-active-text: #181818;

  --vp-home-hero-image-background-image: none;
  --vp-home-hero-image-filter: none;
}
